<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{css/common/SYSUI.css}" />
    <link rel="stylesheet" th:href="@{css/common/style.css}" />
    <link rel="stylesheet" th:href="@{css/common/moldbox.css}" />
    <link rel="stylesheet" th:href="@{css/common/record.css}" />
    <link th:href="@{https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css}">
    <link th:href="@{js/common/syntaxhighlighter_3.0.83/styles/shCoreRDark.css}" rel="stylesheet" />
    <script th:src="@{js/common/jquery-2.1.1.min.js}"></script>
    <script th:src="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script th:src="@{js/common/syntaxhighlighter_3.0.83/shCore.js}"></script>
    <script th:src="@{js/common/syntaxhighlighter_3.0.83/shBrushJScript.js}"></script>
    <script type="text/javascript" th:src="@{js/common/SYSUI.js}"></script>
    <script type="text/javascript" th:src="@{js/common/box.js}" ></script>
    <script type="text/javascript" th:src="@{js/common/sys-calendar.js}"></script>
    <script th:src="@{https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js}"></script>
</header>
</html>