<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" th:href="@{css/intern.css}" />
		<header th:include="common/header::header"></header>
		<title>Intern Sign In</title>
	</head>
	<body>
        <div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid"> 
                <div class="navbar-header" >
                    <a class="navbar-brand" href="#" style="color: black !important;">INTERN SYSTEM</a>
                </div>
                <div>
                    <!--向右对齐-->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="${domainId}" id="domainId">
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">个人信息</a></li>
                                <li><a href="#">登出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                </div>
            </nav>
        </div>
        <div id="pageModule" class="pageModule">
		    <div id="pagescroll" class="pagescroll">
				<div class="angle left-angle">
					<span class="previous last-month-item">&#xe669;</span>
				</div>
				<div id="calendar"></div>
				<div class="angle right-angle">
					<span class="previous next-month-item">&#xe65b;</span>
				</div>
            </div>
		</div>
	</body>
	<script type="module" th:src="@{js/intern.js}"></script>
</html>